*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cont-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2065B2;
    color: #fff;
    padding: 20px 40px;
}
.cont-nav img a {
    display: inline-block;
}
.cont-nav img{
    width: 100px;
}
nav ul {
    display: flex;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    color: #fff;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.cover-show{
    background: url('../assets/cover-inicio.png') no-repeat top center;
    background-attachment:fixed ;
    background-size: cover;
    object-fit: contain;
    height: 100%;
    width: 100%;
    padding: 300px;
}