
.cover-show{
    background: url('../assets/cover-inicio.png') no-repeat top center;
    background-attachment:fixed ;
    background-size: cover;
    object-fit: contain;
    height: 100%;
    width: 100%;
    padding: 300px;
}