@import "../breakpoints";

.main-links {
    .parr-title {
        // background-color: red;
    }
}


@media  (min-width: $ldpi) {
    .main-links {
        .parr-title {
            font-size: 2rem;
        }
        .cont-links{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            &-sons{
                padding: 10px;
            }
        }
    }
    
}