@import "../breakpoints";
@import "../template-parts/cover";
@import "../template-parts/slide";

.cont-page-about {
  .cont-order {
    &__first {
      .titleblue {
        color: rgba(var(--primary-color));
        font-size: 1.5rem;
      }

      .formatted-text {
        color: rgba(var(--text-color));
        font-size: 1.2rem;
      }

      .titleyellow {
        color: rgba(var(--primary-complement));
        font-size: 1.2rem;
      }
    }
  }
}

@media (min-width: $tablet) {
  .cont-order {
    display: grid;
    grid-template-columns: 50% 50%;
    &__first {
      order: 0;
    }
    &__second {
      order: 2;
    }
    &__third {
      order: 1;
    }
  }
}
