@import "../breakpoints";
@import "../template-parts/cover";
@import "../template-parts/slide";

.cont-page-about {
  .cont-order {
    &__first {
      .titleblue {
        color: rgba(var(--primary-color));
        font-size: 1.5rem;
        margin-bottom: 30px;
      }

      .formatted-text {
        color: rgba(var(--text-color));
        font-size: 1.2rem;
        margin-bottom: 15px;
      }

      .titleyellow {
        color: rgba(var(--primary-complement));
        font-size: 1.2rem;
        margin-bottom: 15px;
      }
    }
  }
}

@media (min-width: $tablet) {
  .cont-order {
    display: grid;
    grid-template-columns: 75% 25%;

    &__first {
      order: 0;

      .titleblue {
        font-size: 2rem !important;
      }

      .formatted-text {
        font-size: 1.7rem !important;

      }

      .titleyellow {
        font-size: 1.7rem !important;
      }
    }

    &__second {
      order: 2;
    }

    &__third {
      order: 1;
    }
  }
}