//Header
.cont-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2065b2;
  color: #fff;
  padding: 10px 22px;

  img {
    display: inline-block;
    width: 100px;
  }
}

.site-header {
  width: 100%;
}

nav {
  ul {
    display: flex;
    justify-content: space-between;
    li {
      list-style: none;
      color: #fff;

      a {
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
      }
    }
  }
}



/*Header MEDIA QUERYS*/
@media all and (min-width: 400px) {
  nav {
    ul {
      li {
        display: none !important;
      }
    }
  }
}