.cont-icons {

  .cont-icon {
    width: 100px;
    height: 100px;

    * {
      width: 100px;
      height: 100px;
    }
  }

  background-color: rgba(var(--tertiary-color));

  &__boxes {
    margin: 35px 0;

    p {
      width: 20rem;
    }
  }

  .icons-wrapper {
    display: grid;
    justify-content: center;
    gap: 50px;
  }
}

@media (min-width: $tablet) {
  .cont-icons {
    .icons-wrapper {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      justify-content: center;
      padding: 2rem;


    }

    &__boxes {
      margin: 0;

      p {
        line-height: 2.3rem;
        font-size: 14px;
      }
    }
  }
}

@media (min-width: $ldpi) {
  .cont-icons {
    .icons-wrapper {
      grid-template-columns: 200px 200px 200px 200px;
    }
  }
}

@media (min-width: $mdpi) {
  .cont-icons {
    .icons-wrapper {
      grid-template-columns: 300px 300px 300px 300px;
    }

    &__boxes {
      padding: 0 50px;
    }
  }
}

@media (min-width: $hdpi) {
  .cont-icons {
    .icons-wrapper {
      grid-template-columns: 400px 400px 400px 400px;

    }

    &__boxes {
      padding: 0 100px;
    }
  }
}