.cont-icons {
  padding: 35px 0;
  background-color: rgba(var(--tertiary-color));

  .cont-icon {
    width: 100px;
    height: 100px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__boxes {
    margin: 35px 0;
  }

  .icons-wrapper {
    display: grid;
    justify-content: space-between;
    align-content: center;
  }
}

@media (min-width: $tablet) {
  .cont-icons {
    .icons-wrapper {
      grid-template-columns: repeat(4, 22%);
      align-items: center;
      justify-items: center;
    }

    &__boxes {
      margin: 0;

      p {
        line-height: 2.3rem;
        font-size: 14px;
      }
    }
  }
}
