:root {
  //Color Scheme
  --primary-color: 32, 101, 178;
  --secondary-color: 45, 93, 254;
  --tertiary-color: 203, 227, 255;
  --primary-complement: 254, 156, 45;
  --secondary-complement: 178, 109, 32;
  --text-color: 70, 70, 79;

  //Fonts
  --lato: "Lato", sans-serif;
  --playfair: "Playfair Display", serif;
}

* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  font-size: 62.5%;
  width: 100vw;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2;
  font-family: var(--lato);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Headings*/
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--playfair);
  color: rgba(var(--primary-color));
}

h1,
.h1 {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 5.2rem;

  @media (min-width: $tablet) {
    font-size: 4.6rem;
    line-height: 5.6rem;
  }

  @media (min-width: $ldpi) {
    font-size: 5rem;
    line-height: 6rem;
  }
}

h2,
.h2 {
  font-size: 2.2rem;
  font-weight: 700;

  @media (min-width: $tablet) {
    font-size: 2.8rem;
  }

  @media (min-width: $ldpi) {
    font-size: 3.2rem;
  }
}

h3,
.h3 {
  font-size: 1.8rem;
  font-weight: 700;

  @media (min-width: $tablet) {
    font-size: 2.2rem;
  }

  @media (min-width: $ldpi) {
    font-size: 2.8rem;
  }
}

h4,
.h4 {
  font-size: 1.6rem;
  font-weight: 700;

  @media (min-width: $tablet) {
    font-size: 1.8rem;
  }

  @media (min-width: $ldpi) {
    font-size: 2.2rem;
  }
}

/*Globales*/
a {
  font-family: var(--lato);
  color: rgb(var(--primary-complement));
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover,
a:active,
a:focus {
  color: rgb(var(--secondary-complement));
  /* text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25); */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li a {
  width: 100%;
  height: 100%;
  display: block;
}

p {
  font-family: var(--lato);
  color: rgb(var(--text-color));
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  height: auto;
  transition: opacity 0.3s;
}

.txt-center {
  text-align: center;
}

//Utilidades
.container {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

.formatted-text {
  font-size: 1.6rem;
  font-family: var(--lato);
  color: rgba(var(--text-color), 1);
  line-height: 2.4rem;
}

.section-title {
  font-size: 2.6rem;
  font-family: var(--playfair);
  font-weight: bold;
  color: rgb(var(--primary-complement));
  letter-spacing: 2px;
  line-height: 3rem;
  text-transform: capitalize;

  @media (min-width: $tablet) {
    font-size: 3rem;
    line-height: 3.4rem;
  }

  @media (min-width: $ldpi) {
    font-size: 4rem;
    line-height: 4.4rem;
  }
}

.btn-primary {
  min-width: fit-content;
  padding: 8px 20px;
  background-color: rgba(var(--primary-complement), 1);
  display: inline-block;
  border-radius: 5px;
  font-family: var(--playfair);
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: rgb(var(--secondary-complement), 1);
    color: #fff;
  }

  &.arrow {
    padding: 2px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    &::after {
      content: "\2192";
      margin-left: 1rem;
      display: inline-block;
      font-size: 2.5rem;
    }
  }
}

.flx-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
